{% if privateDocuments and __SELF__.property('privateCheck') %}
    <h2>Particuliere documenten</h2>
    {% for document in privateDocuments %}
    <div>
        <a target="_blank" href="{% if document.file.path %}{{ document.file.path }}{% else %}{{ document.url }}{% endif %}" class="au-btn au-btn-default au-btn-sm">{{ document.title }}</a>
    </div>
    {% endfor %}
    <hr>
{% endif %}

{% if businessDocuments and __SELF__.property('businessCheck') %}
    <h2>Zakelijke documenten</h2>
    {% for document in businessDocuments %}
        <div>
            <a target="_blank" href="{% if document.file.path %}{{ document.file.path }}{% else %}{{ document.url }}{% endif %}" class="au-btn au-btn-default au-btn-sm">{{ document.title }}</a>
        </div>
    {% endfor %}
    <hr>
{% endif %}

{% if otherDocuments and __SELF__.property('otherCheck') %}
    <h2>Overige documenten</h2>
    {% for document in otherDocuments %}
        <div>
            <a target="_blank" href="{% if document.file.path %}{{ document.file.path }}{% else %}{{ document.url }}{% endif %}" class="au-btn au-btn-default au-btn-sm">{{ document.title }}</a>
        </div>
    {% endfor %}
    <hr>
{% endif %}